.addManagement {
    transition: width 0.25s ease, margin 0.25s ease;
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    font-family: Rubik, sans-serif;

    .addManagementInside {
        background: #000000;
        padding: 1.875rem 1.75rem;
        width: 100%;
        flex-grow: 1;

        .container {
            .row {

                .col-md-6 {
                    display: flex;
                    align-items: stretch;
                    margin-bottom: 1.5rem;
                    justify-content: stretch;

                    .addManagementInsideCard {
                        width: 100%;
                        min-width: 100%;
                        border-radius: 0.25rem;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        word-wrap: break-word;
                        background-color: #191c24;
                        background-clip: border-box;
                        border: 1px solid rgba(0, 0, 0, 0.125);

                        .addManagementInsideCardBox {
                            padding: 1.75rem 1.5625rem;
                            flex: 1 1 auto;
                            min-height: 1px;

                            h4 {
                                color: #ffffff;
                                margin-bottom: 1.125rem;
                                text-transform: capitalize;
                                text-align: center;
                                font-size: 20px;
                                font-weight: 500;
                            }

                            form {
                                .addManagementFormItem {
                                    margin-bottom: 1.5rem;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: start;
                                    position: relative;
                                    justify-content: start;

                                    .testimonialError {
                                        color: red;
                                        font-weight: 300;
                                        font-size: 12px;
                                        position: absolute;
                                        left: 50%;
                                        transform: translate(-50%);
                                        bottom: -20px;
                                    }

                                    select {
                                        padding: 0.4375rem 0.75rem;
                                        border: none;
                                        height: auto;
                                        resize: none;
                                        overflow-x: hidden;
                                        overflow: auto;
                                        font-weight: normal;
                                        font-size: 0.875rem;
                                        background-color: #2A3038;
                                        border-radius: 2px;
                                        color: #4b5564;

                                        display: block;
                                        width: 100%;
                                        margin: 0;
                                        background-clip: padding-box;
                                        line-height: 1;
                                        outline: none;
                                        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

                                        &::placeholder {
                                            color: #495057 !important;
                                        }

                                        &:focus {
                                            color: #495057 !important;

                                            border: 1px solid rgba(71, 164, 71, 0.5);
                                            background-color: #2A3038;
                                        }
                                    }

                                    label {
                                        font-size: 0.875rem;
                                        line-height: 1;
                                        vertical-align: top;
                                        color: white;
                                        display: inline-block;
                                        margin-bottom: 0.7rem;
                                    }

                                    textarea {
                                        border: 1px solid #2c2e33;
                                        height: auto;
                                        resize: none;
                                        overflow-x: hidden;
                                        overflow: auto;
                                        font-weight: normal;
                                        font-size: 0.875rem;
                                        padding: 0.625rem 0.6875rem;
                                        background-color: #2A3038;
                                        border-radius: 2px;
                                        color: #ffffff;
                                        display: block;
                                        width: 100%;
                                        margin: 0;
                                        background-clip: padding-box;
                                        line-height: 1;
                                        outline: none;
                                        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

                                        &::placeholder {
                                            color: #495057 !important;
                                        }

                                        &:focus {
                                            color: #495057 !important;

                                            border: 1px solid rgba(71, 164, 71, 0.5);
                                            background-color: #2A3038;
                                        }
                                    }

                                    input {
                                        border: 1px solid #2c2e33;
                                        height: calc(2.25rem + 2px);
                                        font-weight: normal;
                                        font-size: 0.875rem;
                                        padding: 0.625rem 0.6875rem;
                                        background-color: #2A3038;
                                        border-radius: 2px;
                                        color: #ffffff;
                                        display: block;
                                        width: 100%;

                                        background-clip: padding-box;
                                        line-height: 1;
                                        outline: none;
                                        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

                                        &::placeholder {
                                            color: #495057 !important;
                                        }

                                        &:focus {
                                            color: #495057 !important;

                                            border: 1px solid rgba(71, 164, 71, 0.5);
                                            background-color: #2A3038;
                                        }
                                    }
                                }

                                .managementFormBtn {
                                    button {

                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                    }

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.addLight {
    .addManagementInside {
        background: #f3f3f3;

        .container {
            .row {

                .col-md-6 {

                    .addManagementInsideCard {
                        background-color: #fff;
                        border: 1px solid #e7eaed;

                        .addManagementInsideCardBox {

                            h4 {
                                color: #4a4a4a;

                            }

                            form {
                                .addManagementFormItem {

                                    .testimonialError {
                                        color: red;
                                    }

                                    select {
                                        background-color: rgb(255, 255, 255);
                                        outline: 0;
                                        color: #212529;

                                        border: 1px solid #f3f3f3;

                                        optgroup {
                                            color: rgb(201, 200, 200) !important;
                                        }

                                        option {
                                            color: rgb(201, 200, 200) !important;

                                        }

                                        &::placeholder {
                                            color: #212529;

                                        }

                                        &:focus {
                                            color: #212529;
                                            background-color: #fff;
                                            border: 1px solid #86b7fe;
                                        }
                                    }

                                    label {
                                        color: rgb(0, 0, 0);
                                    }

                                    textarea {
                                        border: 1px solid #f3f3f3 !important;
                                        background-color: rgb(255, 255, 255);
                                        color: #212529;

                                        &::placeholder {
                                            color: #495057 !important;
                                        }

                                        &:focus {
                                            color: #212529;
                                            background-color: #fff;
                                            border: 1px solid #86b7fe !important;
                                        }
                                    }


                                    input {
                                        border: 1px solid #f3f3f3 !important;
                                        background-color: rgb(255, 255, 255);
                                        color: #212529;

                                        &::placeholder {
                                            color: #495057 !important;
                                        }

                                        &:focus {
                                            color: #212529;
                                            background-color: #fff;
                                            border: 1px solid #86b7fe !important;
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:500px) {
    .addManagementInside {
        padding: 1.875rem 0.75rem !important;

    }
}

@media screen and (max-width:420px) {
    .addManagementFormItem {
        margin-bottom: 1.7rem !important;
    }

    .testimonialError {
        left: 0 !important;
        transform: translate(0) !important;
    }
}

@media screen and (max-width:400px) {
    .addManagementInside {
        padding: 1.875rem 0.5rem !important;

    }
}