.questionDetail {
    transition: width 0.25s ease, margin 0.25s ease;
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    font-family: Rubik, sans-serif;

    .questionDetailInside {
        background: #000000;
        padding: 1.875rem 1.75rem;
        width: 100%;
        flex-grow: 1;

        .container {
            .row {
                .col-md-6 {
                    display: flex;
                    align-items: stretch;
                    margin-bottom: 1.5rem;
                    justify-content: stretch;

                    .questionDetailInsideCard {
                        width: 100%;
                        min-width: 100%;
                        border-radius: 0.25rem;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        word-wrap: break-word;
                        background-color: #191c24;
                        background-clip: border-box;
                        border: 1px solid rgba(0, 0, 0, 0.125);

                        .questionDetailCardBox {
                            padding: 1.75rem 1.5625rem;
                            flex: 1 1 auto;
                            min-height: 1px;

                            .questionDetailCardBoxBottom {
                                margin-top: 22px;

                                .questionTitle {
                                    color: #6c7293 !important;
                                    font-size: 19px;
                                }
                                .questionRating {
                                    color: #6c7293 !important;
                                    font-size: 17px;
                                }
                                .questionContent {
                                    margin: 12px 0;
                                    color: #6c7293 !important;
                                    font-size: 16px;
                                }
                            }

                            .questionGoBackBtn {
                                margin-top: 10px;

                                a {
                                    color: #6c7293 !important;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.adminDetail2Light{
    .questionDetailInside {
        background: #f3f3f3;

        .container {
            .row {
                .col-md-6 {

                    .questionDetailInsideCard {
                        background-color: #fff;
                        border: 1px solid #e7eaed;

                        .questionDetailCardBox {

                            .questionDetailCardBoxBottom {

                                .questionTitle {
                                    color: #4a4a4a !important;
                                }
                                .questionRating {
                                    color: #4a4a4a !important;
                                }
                                .questionContent {
                                    color: #4a4a4a !important;
                                }
                            }

                            .questionGoBackBtn {

                                a {
                                    color: #fff !important;

                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.MuiRating-iconEmpty {
    color: #6c72936e !important;

}

@media screen and (max-width:500px) {
    .questionDetailInside {
        padding: 1.875rem 0.75rem !important;

    }
}

.questionDetailSpinner {
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:400px) {
    .questionDetailInside {
        padding: 1.875rem 0.5rem !important;

    }
}