.managementAdmin {
    transition: width 0.25s ease, margin 0.25s ease;
    width: 100%;
    min-height: 100vh;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    font-family: Rubik, sans-serif;

    .managementAdminInside {
        background: #000000;
        padding: 1.875rem 1.75rem;
        width: 100%;
        flex-grow: 1;

        .container {

            .row {

                .managementTableTop {
                    font-family: Rubik, sans-serif;
                    display: flex;
                    margin-bottom: 1.5rem;
                    align-items: stretch;
                    justify-content: stretch;

                    .managementTableTopInside {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        border-radius: 0.25rem;
                        width: 100%;
                        min-width: 100%;
                        word-wrap: break-word;
                        background-color: #191c24;
                        background-clip: border-box;
                        border: 1px solid rgba(0, 0, 0, 0.125);

                        .managementTableTopInsideBox {
                            flex: 1 1 auto;
                            min-height: 1px;
                            padding: 1.75rem 1.5625rem;

                            .managementTableTopBoxFilter {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                width: 100%;

                                .managementTableTopFilterRight {
                                    width: 40%;

                                    select {
                                        padding: 0.4375rem 0.75rem;
                                        border: none;
                                        height: auto;
                                        resize: none;
                                        overflow-x: hidden;
                                        overflow: auto;
                                        font-weight: normal;
                                        font-size: 0.875rem;
                                        background-color: #2A3038;
                                        border-radius: 2px;
                                        color: #fff;

                                        display: block;
                                        width: 100%;
                                        margin: 0;
                                        background-clip: padding-box;
                                        line-height: 1;
                                        outline: none;
                                        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

                                        optgroup {
                                            color: white !important;
                                            font-weight: 300;
                                        }

                                        option {
                                            color: #495057 !important;

                                        }

                                        &::placeholder {
                                            color: #495057 !important;
                                        }

                                        &:focus {
                                            color: #495057 !important;

                                            border: 1px solid rgba(71, 164, 71, 0.5);
                                            background-color: #2A3038;
                                        }
                                    }

                                }

                                .managementTableTopFilterLeft {
                                    width: 40%;
                                    display: none;

                                    input {
                                        border: 1px solid #2c2e33;
                                        height: calc(2.25rem + 2px);
                                        font-weight: normal;
                                        font-size: 0.875rem;
                                        padding: 0.625rem 0.6875rem;
                                        background-color: #2A3038;
                                        border-radius: 2px;
                                        color: #ffffff;
                                        display: block;
                                        width: 100%;

                                        background-clip: padding-box;
                                        line-height: 1;
                                        outline: none;
                                        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

                                        &::placeholder {
                                            color: #495057 !important;
                                        }

                                        &:focus {
                                            color: #495057 !important;

                                            border: 1px solid rgba(71, 164, 71, 0.5);
                                            background-color: #2A3038;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .container2 {

            .row {
                .spinnerManagement {
                    min-height: 60vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                .managementTableCol {
                    font-family: Rubik, sans-serif;
                    display: flex;
                    margin-bottom: 1.5rem;
                    align-items: stretch;
                    justify-content: stretch;

                    .managementTableColInside {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        border-radius: 0.25rem;
                        width: 100%;
                        min-width: 100%;
                        word-wrap: break-word;
                        background-color: #191c24;
                        background-clip: border-box;
                        border: 1px solid rgba(0, 0, 0, 0.125);

                        .managementTableColInsideBox {
                            flex: 1 1 auto;
                            min-height: 1px;
                            padding: 1.75rem 1.5625rem;

                            .managementPagination {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }

                            .resManagementTable {
                                display: block;
                                width: 100%;
                                overflow-x: auto;



                                .table {
                                    color: #6c7293;
                                    background-color: #191c24 !important;
                                    --bs-body-bg: #191c24;

                                    tbody {
                                        tr {
                                            &:not(:last-child) {
                                                border-bottom: 2px solid #2c2e33;
                                            }

                                            &:last-child {
                                                border: none !important;
                                            }

                                            td {
                                                vertical-align: middle;
                                                font-size: 0.875rem;
                                                line-height: 1;
                                                white-space: nowrap;
                                                padding: 0.9375rem;
                                                color: rgb(108, 114, 147);
                                                border: 0;
                                                border-top: 1px solid #2c2e33;

                                                .userImageTestimonials {
                                                    border-radius: 50%;
                                                    width: 40px;
                                                    height: 40px;
                                                }
                                            }
                                        }
                                    }

                                    thead {
                                        tr {
                                            th {
                                                border-top: 0;
                                                border-bottom-width: 1px;
                                                font-weight: 500;
                                                color: #6c7293;
                                                vertical-align: bottom;
                                                border-bottom: 2px solid #2c2e33;
                                                font-size: 0.875rem;
                                                line-height: 1;
                                                white-space: nowrap;
                                                padding: 0.9375rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

.tableLight {
    .managementAdminInside {
        background: #f3f3f3 !important;


        .container {

            .row {

                .managementTableTop {


                    .managementTableTopInside {

                        background-color: #fff;
                        border: 1px solid #e7eaed;

                        .managementTableTopInsideBox {

                            .managementTableTopBoxFilter {

                                .managementTableTopFilterRight {

                                    select {
                                        background-color: rgb(255, 255, 255);
                                        outline: 0;
                                        color: #212529;

                                        border: 1px solid #f3f3f3;

                                        optgroup {
                                            color: rgb(201, 200, 200) !important;
                                        }

                                        option {
                                            color: rgb(201, 200, 200) !important;

                                        }

                                        &::placeholder {
                                            color: #212529;

                                        }

                                        &:focus {
                                            color: #212529;
                                            background-color: #fff;
                                            border: 1px solid #86b7fe;
                                        }
                                    }

                                }

                                .managementTableTopFilterLeft {

                                    input {
                                        border: 1px solid #f3f3f3 !important;
                                        background-color: rgb(255, 255, 255);
                                        color: #212529;

                                        &::placeholder {
                                            color: #495057 !important;
                                        }

                                        &:focus {
                                            color: #212529;
                                            background-color: #fff;
                                            border: 1px solid #86b7fe !important;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .container2 {

            .row {

                .managementTableCol {

                    .managementTableColInside {
                        background-color: #fff;
                        border: 1px solid #e7eaed;

                        .managementTableColInsideBox {


                            .resManagementTable {
                                .table {
                                    color: #212529;
                                    background-color: transparent !important;
                                    --bs-body-bg: transparent;

                                    tbody {
                                        tr {
                                            &:not(:last-child) {
                                                border-bottom-color: #f3f3f3;
                                            }


                                            td {
                                                color: rgb(33, 37, 41);
                                                border-top: 1px solid #2c2e33;

                                            }
                                        }
                                    }

                                    thead {
                                        tr {
                                            th {

                                                border-bottom-color: #f3f3f3;

                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}

.userImageTestimonials {
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
}

.MuiPaginationItem-root {
    color: #fff !important;

}

.deleteBtnInTestimonials:hover .testimonialFirstDelete {
    display: none;
    transition: 1s linear;

}

.deleteBtnInTestimonials:hover .testimonialSecondDelete {
    display: block;
    transition: 1s linear;

}

.testimonialSecondDelete {
    display: none;
}

@media screen and (max-width: 991px) {
    .managementTableTopFilterLeft {
        display: block !important;
    }
}

@media screen and (max-width: 600px) {

    .managementTableTopFilterLeft,
    .managementTableTopFilterRight {
        width: 45% !important;
    }
}

@media screen and (max-width: 480px) {
    .managementTableTopBoxFilter {
        flex-wrap: wrap !important;
        flex-direction: column !important;
        row-gap: 10px !important;

        .managementTableTopFilterLeft,
        .managementTableTopFilterRight {
            width: 100% !important;
        }
    }
}


@media screen and (max-width:500px) {
    .managementAdminInside {
        padding: 1.875rem 0.75rem !important;

    }
}



@media screen and (max-width:400px) {
    .managementAdminInside {
        padding: 1.875rem 0.5rem !important;

    }
}